;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [datascript "1.6.1"]]

 :dev-http {8080 "public"} 

 :compiler-options {:externs ["datascript/externs.js"]}

 :builds
 {:client
  {:target :browser
   :modules {:main {:init-fn client/main}}}
  
  :server
  {:target :node-script
   :main server/main
   :output-to "out/server/main.js"}}}
   
